<div class=pizzaname><h5>Pizza:</h5>
  {{#if name}}
<li class="list-group-item">Name: {{name}}</li>
{{else}}
<li class="list-group-item">This Pizza Wasn't Good Enough to Name</li>
{{/if}}
{{#if ingredient}}
<li class="list-group-item">Ingredient: {{ingredient}}</li>
{{else}}
<li class="list-group-item">Ingredients: {{ingredients}}</li>
{{/if}}
<li class="list-group-item">Type of Pizza: {{type}}</li>
{{#if nuts}}
<li class="list-group-item">Has Nuts?: {{nuts}}</li>
{{/if}}
</div>
